# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env*
!.env.example*
.venv
env/
venv/

# Python
*.py[cod]
*$py.class
.Python
build/
dist/

# IDE
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store